* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

/*
 * -- LAYOUT STYLES --
 */
.is-center {
    text-align: center;
}


/*
 * -- MENU STYLES --
 */

.home-menu {
    padding: 0em;
}

.home-menu {
    background: white;
}

.header-img {
    display: inline-block;
    margin: 0; padding: 0;
    vertical-align: bottom;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: red;
    font-weight: 400;
    font-size: 120%;
    text-align: left;
}

.home-menu .pure-menu-link {
    line-height: 200%;
    font-size: 16px;
}

.home-menu a {
    color: red;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: red;
    border: none;
    color: white;
}


/*
 * -- SPLASH STYLES --
 */

.splash-container {
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 90vh;
    
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    text-align: center;
}

.splash-head {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 1em 1.6em;
    font-weight: 100;
    line-height: 1.2em;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the splash section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: relative;
    top: 92vh;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content fs (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is the class used for the content sub-fs (<h3>) */
.content-subhead {
    color: #777777;
    font-weight: 500;
}
    .content-subhead i {
        margin-right: 7px;
    }

.content-text {
    font-size: 14px;
    left: 0; right: 0;
    padding: 0 7% 0 7%;
}

/* Contribute Area */
.contrib {
    background: #aa0000;
    color: white;
    text-align: center;
    padding: 15vh 0 20vh 0;
}

.contrib-head {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-bottom: 10vh;
}

.contrib-text {
    left: 0;
    margin-bottom: 20px;
}

p.contrib-text {
    padding-right: 10px;
    margin: 0;
    text-align: right;
}

.contrib-img {
    display: inline-block;
    padding-left: 10px;
    float: left;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- CONTACT CARDS --
 */

.contact-card {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0px 5px 10px;
}

div.contact-card {
    right: 0;   
    padding: 25px 0 25px 0;
    border-bottom: 1px solid black;
    /*margin-right: 10px;
    margin-bottom: 15px;*/
}

/* City */
h4.contact-card {
    height: 3em;
    margin-top: 5px;
    line-height: 1.2em;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

/* Volunteer Name */
h5.contact-card {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 20px;
}

/* Contact Info headers*/

h6.contact-card {
    color: #666666;
    font-weight: 500;
}

/* Info*/

p.contact-card {
    font-size: 12px;
    color: red;
    font-weight: 600;
    padding-left: 20px;
}

.show-mobile {
    margin-top: 5px;
    margin-left: 10px;
}

/* Contact*/

.contact {
    padding: 5vh 0 15vh 0;
}

h2.contact {
    padding-bottom: 10vh;
}

.email {
    background: rgb(255,00,00);
    color: white;
    width: 60%;
    margin: 1% 0 1% 20%;
}

.fb {
    background: rgb(60,90,150);
    color: white;
    width: 60%;
    margin: 1% 0 1% 20%;
}

.wap {
    background: rgb(28, 184, 65);
    color: white;
    width: 60%;
    margin: 1% 0 1% 20%;
}

.call {
    background: rgb(100,100,100);
    color: white;
    width: 60%;
    margin: 1% 0 5vh 20%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu f to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 80%;
        top: 5em;
    }

    .splash-head {
        font-size: 200%;
    }

    .content-text-center{
        padding: 0 15vw 0 15vw;
    }
    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the f font size even more */
    .splash-head {
        font-size: 200%;
    }

    .splash {
        top: 5em;
        height: 80%;
    }

    .content-text-center{
        padding: 0 20vw 0 20vw;
    }

    .show-mobile {
        display: none;
    }
}
